params.sh

# Minecraft stuff
forge*installer*
README.txt
run.bat
run.sh
user_jvm_args.txt
forge*shim.jar
libraries/
mods
logs
defaultconfigs
config
eula.txt
banned-ips.json
banned-players.json
ops.json
server.properties
usercache.json
whitelist.json
world/