[Unit]
Description=Minecraft Server
After=network.target

[Service]
ExecStart=server_start.sh
WorkingDirectory=~
User=ubuntu
Group=ubuntu
Restart=always

[Install]
WantedBy=multi-user.target