[Unit]
Description=Minecraft Server
After=network.target

[Service]
ExecStart=/path/to/your/server_start.sh
WorkingDirectory=/path/to/your/minecraft/server
User=yourusername
Group=yourusername
Restart=always

[Install]
WantedBy=multi-user.target